<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
</head>
<body>

    <h1>Sobre o curso</h1>
    A área da saúde exige profissionais preparados e capazes de oferecer cuidado com
    excelência e de forma humanizada.</p>
    Com o aumento da demanda por serviços de qualidade, cresce também a busca por técnicos
    de enfermagem qualificados com formação atualizada.</p>
    
</body>
</html>